<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/InvoiceNinjaModuleTest/Load.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         syntaxCheck="true" >
    <testsuites>
        <testsuite name="InvoiceNinjaModule tests">
            <directory suffix=".php">./tests/InvoiceNinjaModuleTest/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
